.stApp.light [data-testid="stChatMessage"] > [data-testid="stChatMessageContent"][aria-label="Chat message from user"] {
    background-color: #e0e0e0 !important;
}
.stApp.light .st-key-footer_container {
    color: var(--text-color) !important;
}
.stApp.light .st-key-footer_container div.stHorizontalBlock:has(.st-key-cloud_upload) button:hover {
    background-color: #e0e0e0 !important;
}
.stApp.light .st-key-footer_container {
    background-color: #f0f0f0 !important;
}
.stApp.light .st-key-footer_container [data-baseweb="textarea"] {
    background-color: #f0f0f0 !important;
    border-color: #f0f0f0 !important;
}
