/* Target the sidebar container */
[data-testid="stSidebarContent"] {
    overflow-x: hidden;
}
button[kind="secondary"]:hover {
    background-color: var(--secondary-background-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}
button[kind="secondary"]:focus:not(:active),
button[kind="secondary"]:active {
    background-color: var(--text-color) !important;
    border-color: var(--text-color) !important;
    color: var(--secondary-background-color) !important;
}
[data-testid="stChatMessageAvatarAssistant"] {
    display: none !important;
}
[data-testid="stChatMessageAvatarUser"] {
    display: none !important;
}
div:has(> [aria-label="Chat message from assistant"]) {
    padding: 1rem !important;
}
div:has(> .stHeading) {
    display: none !important;
}
.st-key-subtitle_container * {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}
.st-key-delete_knowledge_base button:hover,
.st-key-delete_all_session_button button:hover {
    color: #fff !important;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}
.row-widget.stCheckbox {
    min-height: unset !important;
}
.stColumn {
    overflow-x: hidden;
}
.stVerticalBlock {
    gap: 0.75rem !important;
}
.stHorizontalBlock {
    gap: 0.5rem !important;
}
.st-key-voice_input_container {
    padding: 0.5rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.st-key-unsupported_model_container {
    padding: 0.5rem;
    border: 1px solid #ffa0a0;
    color: #aa0000;
}
.st-key-voice_input_recorder_disabled {
    pointer-events: none;
    opacity: 0.5;
}
.sidebar-session-link {
    text-decoration: none;
    padding: 0.25rem;
    margin: 0.25rem;
    background-color: var(--secondary-background-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.sidebar-session-link:hover {
    background-color: var(--background-color);
    filter: brightness(0.95);
    transform: translateY(-2px);
    text-decoration: underline;
}
.sidebar-session-link.active-session {
    color: var(--primary-color) !important;
}
.sidebar-session-link a {
    color: var(--text-color);
    text-decoration: none;
}
.sidebar-session-link a:hover {
    color: var(--text-color);
    filter: brightness(0.9);
}

.st-key-older_sessions_selectbox {
    margin-top: 1rem;
}
.st-key-older_sessions_selectbox label {
    font-size: 1.125rem;
    font-weight: 600;
}
