[data-testid="stChatMessage"] > [data-testid="stChatMessageContent"][aria-label="Chat message from user"] {
    background-color: #323232d9 !important;
}
.st-key-footer_container div.stHorizontalBlock:has(.st-key-cloud_upload) button:hover {
    background-color: #3a3a3a !important;
}
.st-key-footer_container {
    background-color: #333 !important;
}
.st-key-footer_container [data-baseweb="textarea"] {
    background-color: #333 !important;
    border-color: #333 !important;
}
